@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
}
.sidebar {
    position: fixed;
    width: 360px;
    height: 100%;
    padding-top: 250px;
    left: 0;
    background: #3f3f4b;
}

.sidebar .image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.image {
    transition: transform 1s;
}

.image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.sidebar h2{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 50px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 40px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: color;
    text-align: center;
}

.sidebar a:hover {
    color: #fc8f00;
}

.icones ul li {
    display: inline;
    color: #fff;
    width: 200%;
    line-height: 120px;
    transition: 0.5s;
    transition-property: color;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.icones ul li:hover {
    color: #fc8f00;
}

.main {
    position: absolute;
    top: 0;
    right: 10rem;
    bottom: 0;
    left: 26.5rem;
    padding: 2rem 3rem;
}

 main .conteudo {
   padding: 4rem 0;
   margin: 0 3.7rem;
}

.posts {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style-type: none;
    
}

.posts h2:hover {
    color: #fc8f00;
    transition: 0.5s;
}

ol {
    list-style: none;
}

.divider {
    width: 30%;
    margin: 1.7rem 0;
    border-top: 1px solid #ddd;

}

.description{
    margin-bottom: 1rem;
    font: .9rem;
    color: #999;
    line-height: 1.7rem;
}

a{
    position: relative;
    color: #333;
    text-decoration: none;    
}

.meta{
    margin: 20px 0px; 
    color: #ccc;
}

.data {
    font-size: 1.467rem;
}

.tags {
    color: #fff;
    font-size: .85rem;
}


.tag1 {
    background-color: #fc8f00;
    padding: 2px 4px 0px 4px;
    border-radius: 5px;
}

.tag2 {
    background-color: #fc8f00;
    padding: 2px 4px 0px 4px;
    border-radius: 5px;
}

.tag3 {
    background-color: #fc8f00;
    padding: 2px 4px 0px 4px;
    border-radius: 5px;
}

.tag4 {
    background-color: #fc8f00;
    padding: 2px 4px 0px 4px;
    border-radius: 5px;
}

.pagination {
    margin: 0 0 2.5rem;
}

.index{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.78rem;
    color: #999;
    padding: 5px;
}

.old__btn {
    font-weight: 800;
    text-shadow: none;
    letter-spacing: 1px;
    border: 1px solid #fc8f00;
    border-radius: 20px;
    padding: 5px;
 
    
}

.old__btn:hover {
    color:#333;
}

.divider__final {
    width: 60%;
    margin: 1.7rem 0;
    border-top: 2px dotted #89898d;
}

.copyright {
    font: inherit;
    font-size: 20px;
    vertical-align: baseline;
    display: block;
    padding: 5% 0 5% 0;
    color: #999;
}

